*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body
{
    background-color: rgba(255, 192, 203, 0.795);
}
.main
{
   width: 100%;
   /* background-color: pink; */
   
   
}
.main-container
{
    width: 80%;
    height: 500px;
    /* background-color: aqua; */
    margin: auto;
   

}
.main-container h1
{
      text-align: center;
      padding-top: 20px;
}
.main-container img
{
    height: 300px;
    width: 280px;
   position: relative;
   left: 41%;
   top: 10%;
   border-radius: 50%;
   display: flex;



}
.main-container p
{
    padding-top: 80px;
    width: 60%;
    text-align: center;
    margin-left: 20%;

  
}
.main-container a
{
    padding-left: 47%;
    text-decoration: none;
    
    
}
.main-container a:hover
{
    color: red;
}